<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF=8">
		<meta gttp-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-state=1.0">
		<title>Essay Grader Admin</title>
		<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css">
		<link href="/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<h1>Student Scores</h1>
		<h4>Shows student name, score, and click on a student to view their essay</h4>
		<grid>
		<% for (var i = 0; i < locals.json.length; i++) { %>
			<a class="button" href="#popup"><article>
			<% if(json[i]['score'] > 83) { %>
				<h4 style="color:lightgreen;"><%= json[i]['name'] %>: <%= json[i]['score'] %>%</h4>
			<% } else { %>
				<h4 style="color:red;"><%= json[i]['name'] %>: <%= json[i]['score'] %>%</h4>
			<% } %>
			</article></a>
		<% } %>

		<div id="popup2" class="overlay">
			<a class="cancel" href="#"></a>
			<div class="popup">
				<h2>Essay</h2>
				<div class="content">
					<p><%= json[i]['text'] %></p>
				</div>
			</div>
		</div>
		</grid>
	</body>
</html>
