<style>
p {
  max-height: 150px;
  overflow: scroll;
}
table {
  max-height: 300px;
  overflow: scroll;
}
</style>
<hr/>
<article>

<p><%= locals.essay %></p>
<% if(score > 83) { %>
	<h3 style="color:lightgreen;"><%= name %> got a <%= score %>%</h3>
<% } else { %>
	<h3 style="color:red;"><%= name %> got a <%= score %>%</h3>
<% } %>
<table>
	<tr>
		<th>Reason</th>
		<th>Penalty</th>
	</tr>
<% for (var i = 0; i < locals.why.length; i++) { %>
	<tr>
<% for (var j = 0; j < locals.why[i].length; j++) { %>
		<th><%= why[i][j] %></th>
<% } %>
	</tr>
<% } %>
</table>

</article>
